.animation01 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.animation01 span {
  text-transform: uppercase;
  animation: blink 4s linear infinite alternate;
  font-size: 35px;
}
@keyframes blink {
  0%,
  100% {
    color: black;
  }

  50% {
    color: white;
  }
}

.animation02 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-y {
  display: flex;
  gap: 5px;
}

.loader-y span {
  display: block;
  width: 10px;
  height: 10px;
  background: black;
  animation: bounce 1.2s linear infinite alternate;
}

.loader-y span:nth-child(2) {
  animation-delay: 0.6s;
}

.loader-y span:nth-child(3) {
  animation-delay: 1.2s;
}

.loader-y span:nth-child(4) {
  animation-delay: 1.8s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

.animation03 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loader {
  display: flex;
  gap: 5px;
}

.loader span {
  width: 15px;
  height: 15px;
  background-color: black;
  position: absolute;
  animation: loaderAnimation 1s infinite;
}

.loader span:nth-child(1) {
  animation-delay: 0.4s;
}

.loader span :nth-child(2) {
  animation-delay: 0.8s;
}

.loader span :nth-child(3) {
  animation-delay: 1.2s;
}

@keyframes loaderAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
