.squares {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@mixin square() {
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background: turquoise;
}

@mixin squareBg($color: aqua) {
  background: $color;
}

.square {
  @include square();
}

.square-magenta {
  @include squareBg(magenta);
}

.square-magenta {
  @include squareBg(magenta);
}
